/* ПРАВИЛО! display: inline-block и vertical-align: top/middle;   
должны работать в связке ВСЕГДА! 
блоки ровнее становятся */

/* ПРАВИЛО! псевдоклассы :after и :before по умолчанию дают строчные элементы.
всегда делать их inline-block или block  */

/* ПРАВИЛО! REM-величина всегда рассчитывается только от тега html. 
По умолчанию у html font-size:16px
если текст к примеру в фотошопе видим 26px, то чтобы высчитать
в rem нужно 26px : 16px = 1.625rem ; 
Вывод, что 1rem = 16px */


/*  Подключил ЛОКАЛЬНО шрифты @font-face к себе 
на страницу  */

@font-face{
	font-family: 'georgia-bold';
	src:url('../fonts/georgia-bold.woff'),
	url('../fonts/georgia-bold.woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face{
	font-family: 'helvetica-neue-regular';
	src:url('../fonts/helvetica-neue-regular.woff'),
	url('../fonts/helvetica-neue-regular.woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'helvetica-neue-bold';
	src:url('../fonts/helvetica-neue-bold.woff'),
	url('../fonts/helvetica-neue-bold.woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face{
	font-family: 'helvetica-neue-light';
	src:url('../fonts/helvetica-neue-light.woff'),
	url('../fonts/helvetica-neue-light.woff2');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'helvetica-neue-light';
	font-size: 1rem;
	line-height: 1.2;	
}

html{ box-sizing:border-box;
}

/* все элементы наследуют значение свойства у родительского элемента*/
*, *:before, *:after{
	box-sizing: inherit;
}

ul, ol{
	list-style-type:none;
}

      
/* центровщик container (нужен для центрирования) */

.container{
	max-width: 1024px;
	margin:auto;
}


 /* buttons modules*/

.button{
	display: inline-block;
	border-radius: 3px;
	padding: 10px 22px 7px;
	text-decoration: none;
	color:white;
	font-family: 'helvetica-neue-regular';
}

.button-red{
	background-color:#de2b24;
	transition: 0.3s;
}

.button-red:hover{
	background-color:#FF3029 ;
}

.button-yellow{
	background-color: #F8CD53;
	
}

.button-yellow:hover{
	background-color: #FFE568;

}

.text-uppercase{
	text-transform: uppercase;
}


   /* header__top START */

.header__top{
    background-color:#f0f2f4;
    border-bottom:1px solid #e2e2e2;	
}

.contacts{
	text-align: right;
}

.contact{
	display: inline-block;
	vertical-align: top;
	padding: 10px 5px 8px;
	color:#424242;
	transition: 0.3s;
	text-decoration: none;
	
}

.contact:first-child{
border-right: 1px solid #e2e2e2;


}

.contact:hover{
color:#828282;
text-decoration: underline;

}

.contact__icon{
	margin-left: 13px;
	font-size: 1.5rem; /*размер иконки*/
	vertical-align: middle;

}

.icon-mob{
	margin-right: 2px;
	padding-right: 14px;

}

.icon-email-mob{
	font-size: 1.2rem;

}

.facebook-icon{
	display:inline-block;
	margin:7px 0px;
	padding:5px 8px 1px;
	border-radius: 3px;
	background-color: #1287BF;
	color:white;

}

	/* header__bottom START */

.header__bottom{
	display: flex;
	justify-content: space-between;
	flex-frap: wrap;/* перенос блоков при уменьшении размера экрана */
	align-items:center;/* центровка ссылок по вертикале */
	padding: 41px 0 32px;/* чтобы весь блок стал больше */
}


.nav{
	display: inline-block;/* чтобы отступы м.б.задать */
	vertical-align: top; /* когда задаю inline-block всегда в связке прописывать vertical-align: top или middle */
	padding-top: 7px;
	margin-left: 90px;
	
}

.nav__link{
	display: inline-block;/* чтобы отступы м.б.задать */
	vertical-align: top;/* когда задаю inline-block всегда в связке прописывать vertical-align: top или middle */
	padding: 5px;
	font-family: 'helvetica-neue-bold';
	text-decoration:none;
	color: #424242;
	transition: 0.3s;/* чтобы при наведении на ссылку медленно сменялся цвет */

}

.nav__link:hover, .nav__link--active{
	color: #de2b24;

}


/* делаем декортивные точки в меню */

.nav__link:after{
	content:'';
	display: inline-block;
	vertical-align: middle;
	width: 5px;
	height: 5px;
	border-radius:50%;
	background: #424242;
	margin-left: 15px; 

}
/* у последнего элемента меню удалю декорат-ую точку */
.nav__link:last-child:after{
	display: none;

}

	/* section hero START */

.hero{
	min-height: 590px;/* высота всего блока*/
	padding-top: 174px;/* высота от верха до первой надписи*/
	text-align:center;
	color: white;
	background:#ccc url(../images/hero-bg.jpg) center/cover no-repeat;
}

.hero__about{
	font-family: 'helvetica-neue-bold';
	font-size:3rem;
	line-heigt:1;
}

.hero__title{
	margin-top: 0; /*normalize дает тегу H1 внешние отступы. мы их убираем*/
	margin-bottom: 27px; /*normalize дает тегу H1 внешние отступы. мы их корректируем*/
	font-family: 'helvetica-neue-light';
}

.button-yellow--up{
	padding:24px 40px;
	border-radius: 8px;
	font-size:1.5rem;
	font-weight:bold;
	letter-spacing: 2px;/* расстояние м/у буквами*/

}

	/* section about START */

.about{
	padding:99px 0 105px 0;
	text-align:center;/* текст во всех длоках будет по центру*/

}

.about__list{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;flex-wrap: wrap;/*при уменьшении помогает с адаптивом */
	margin:0;
	padding:0 50px;

	
}

.about__item{
	width: 25%;/* ширина для блока */
}



.about__header{
	margin:0 0 12px 0;
	font-size:1.375rem;
	font-family: 'helvetica-neue-bold';
	color:#424242;

}

.about__description{
	margin-top:0;/* убираем отстуры у абзацев по умолчанию */
	font-size: 0.875rem;
	line-height: 1.5;
	color:5c5c5c;

}

.title{
	margin-bottom:65px;
	text-align: center;
}

.title__header{
	margin:0;/* убираем отстуры у абзацев по умлочанию */
	font-size: 2.25rem;
	font-family: 'helvetica-neue-bold';
	line-height: 1;

}

.title__text{
	font-size: 1.25rem;
	font-family: 'helvetica-neue-light';
}

	/* делаем декоративное нижнее подчеркивание */

.title--with-bottom-line{
	position: relative; /* родит.блоку сделали relative,чтобы дочернему дать absolut */

}

.title--with-bottom-line:after{
	position: absolute;
	left:50%;/* выровнили по центру декоративную линию по горизонт*/
	-webkit-transform: translateX(-50%);/* выровнили по центру декоративную линию по горизонт */
	        transform: translateX(-50%);/* выровнили по центру декоративную линию по горизонт */
	content: '';
    bottom: -16px;/* опустили чуть ниже декоративную линию */
    width: 47px;
    height: 5px;
    background: #424242;

}
	/* добовляем иконки */

.icon{
	margin:auto auto 23px auto;/* нижние отступы от картинки до h3 */
}

.icon-like{
background-image: url(../images/icons/like.png);
    width: 83px;
    height: 79px;
}

.icon-book{
	background-image: url(../images/icons/book.png);
    width: 83px;
    height: 79px;
}

.icon-message{
	background-image: url(../images/icons/message.png);
    width: 83px;
    height: 79px;
}

			/* section Approch START */


.approch{
	padding-top: 86px;
	padding-bottom: 94px;
	background-color:#f3f3f3;/*цвет дял всего блока*/

}

.approch__list{
	margin:0;/*normalize дает внешние отступы. мы их убираем*/
	padding: 0;/*normalize дает внешние отступы. мы их убираем*/
	counter-reset: count; /*счетчик! чтобы цифры в красных квадратах по порядку шли*/

}

.approch__item{
	margin-bottom:40px;/* расстония м/у всеми 4мя блоками*/
	border-radius: 5px;
	box-shadow:-1px -1px 10px 1px #d6d6d6;
	color:#424242;
	background: #fff;

}

/*делаем только для зеркальных отображений step2 и step4 блоков для каждого 2ого элемента*/
.approch__item:nth-child(2n){
	display: flex;
    flex-direction: row-reverse;/*делает зеркальное отображение*/
    text-align: right;


}


.approch__text{
	display: inline-block;
	vertical-align: top;
	width:64%;/*чтобы блок подстраивался под ширину экрана*/
	font-size: 0.875rem;
	padding: 70px 70px 55px 90px;

}

/*делаем только для зеркальных отображений step2 и step4 блоков для каждого 2ого элемента*/
.approch__text:nth-child(2n){
	padding: 70px 90px;

}	


.approch__picture{
	display: block;
	width: 100%;/*чтобы картинка под свой блок подстраивалась*/
	height: 100%;/*чтобы картинка под свой блок подстраивалась*/

}


.approch__image{
	position: relative;/*родителю дал relative, тк красные квадраты будут относительно нее*/
	max-width: 340px;
	max-height:236px;
	display: inline-block;/*чтобы картинка и текст встали друг с другом*/
	vertical-align: top;

}
	

.approch__step{
	position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -52px;
    width: 103px;
    height: 103px;
    padding-top: 10px;
    border-radius: 5px;
    border: 2px solid #fff;
    text-align: center;
    font-size: 1.25rem;
    background-color: #de2b24;
    color: #fff;

}

	/*пишем номера в красных квадратах. */
	
	/*счетчик не сработал.
	можно разбить на 5 классов: один общий = approch и четыри = approch1,2,3,4
	и уменьшить код тем самым*/



.approch__step:before{
	/*сontent: counter(count); -> счетчик не работает!!??*/
	/*counter-increment: count; -> счетчик не работает!!??*/
	content: '1';
    display: block; /*чтобы в красном квадрате надпись step ушла вниз*/
    font-family: 'georgia-bold';
    font-size: 3rem;
    line-height: 1;
    color: #fff;
}

.approch__step-2:before{
	
	content: '2';
    display: block; /*чтобы в красном квадрате надпись step ушла вниз*/
    font-family: 'georgia-bold';
    font-size: 3rem;
    line-height: 1;
    color: #fff;
}

.approch__step-3:before{
	
	content: '3';
    display: block; /*чтобы в красном квадрате надпись step ушла вниз*/
    font-family: 'georgia-bold';
    font-size: 3rem;
    line-height: 1;
    color: #fff;
}

.approch__step-4:before{
	
	content: '4';
    display: block; /*чтобы в красном квадрате надпись step ушла вниз*/
    font-family: 'georgia-bold';
    font-size: 3rem;
    line-height: 1;
    color: #fff;
}

/*делаем только для зеркальных отображений step2 и step4 блоков для каждого 2ого элемента*/
.approch__step:nth-child(2n){
	right:auto;
	left:-52px;
}

.approch__title{
	margin-bottom: 6px;
    font-size: 1.125rem;
    font-family: "helvatica-neue-bold";
    font-weight: bold;
}

.approch__description{
	margin: 0;/*normalize дает внешние отступы тегу "p". мы их убираем*/
    line-height: 1.5;
}