/* ПРАВИЛО! display: inline-block и vertical-align: top/middle;   
должны работать в связке ВСЕГДА! 
блоки ровнее становятся */

/* ПРАВИЛО! псевдоклассы :after и :before по умолчанию строчные элементы.
всегда делать их inline-block  */

/* ПРАВИЛО! REM-величина всегда рассчитывается только от тега html. 
По умолчанию у html font-size:16px
если текст к примеру в фотошопе видим 26px, то чтобы высчитать
в rem нужно 26px : 16px = 1.625rem ; 
Вывод, что 1rem = 16px */


/*  Подключил ЛОКАЛЬНО шрифты @font-face к себе 
на страницу  */

@font-face{
	font-family: 'georgia-bold';
	src:url('../fonts/georgia-bold.woff'),
	url('../fonts/georgia-bold.woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face{
	font-family: 'helvetica-neue-regular';
	src:url('../fonts/helvetica-neue-regular.woff'),
	url('../fonts/helvetica-neue-regular.woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'helvetica-neue-bold';
	src:url('../fonts/helvetica-neue-bold.woff'),
	url('../fonts/helvetica-neue-bold.woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face{
	font-family: 'helvetica-neue-light';
	src:url('../fonts/helvetica-neue-light.woff'),
	url('../fonts/helvetica-neue-light.woff2');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'helvetica-neue-light';
	font-size: 1rem;
	line-height: 1.2;	
}

html{ box-sizing:border-box;
}

/* все элементы наследуют значение свойства у родительского элемента*/
*, *:before, *:after{
	box-sizing: inherit;
}

ul, ol{
	list-style-type:none;
}

      
/* центровщик container (нужен для центрирования) */

.container{
	max-width: 1024px;
	margin:auto;
}


 /* buttons modules*/

.button{
	display: inline-block;
	border-radius: 3px;
	padding: 10px 22px 7px;
	text-decoration: none;
	color:white;
	font-family: 'helvetica-neue-regular';
}

.button-red{
	background-color:#de2b24;
	transition: 0.3s;
}

.button-red:hover{
	background-color:#FF3029 ;
}

.button-yellow{
	background-color: #F8CD53;
	
}

.button-yellow:hover{
	background-color: #FFE568;

}

.text-uppercase{
	text-transform: uppercase;
}


   /* header__top START */

.header__top{
    background-color:#f0f2f4;
    border-bottom:1px solid #e2e2e2;	
}

.contacts{
	text-align: right;
}

.contact{
	display: inline-block;
	vertical-align: top;
	padding: 10px 5px 8px;
	color:#424242;
	transition: 0.3s;
	text-decoration: none;
	
}

.contact:first-child{
border-right: 1px solid #e2e2e2;
}

.contact:hover{
color:#828282;
text-decoration: underline;

}

.contact__icon{
	margin-left: 13px;
	font-size: 1.5rem; /*размер иконки*/
	vertical-align: middle;
}

.icon-mob{
	margin-right: 2px;
	padding-right: 14px;
}

.icon-email-mob{
	font-size: 1.2rem;

}

.facebook-icon{
	display:inline-block;
	margin:7px 0px;
	padding:5px 8px 1px;
	border-radius: 3px;
	background-color: #1287BF;
	color:white;

}

	/* header__bottom START */

.header__bottom{
	display: flex;
	justify-content: space-between;
	flex-frap: wrap;/* перенос блоков при уменьшении размера экрана */
	align-items:center;/* центровка ссылок по вертикале */
	padding: 41px 0 32px;/* чтобы весь блок стал больше */
}


.nav{
	display: inline-block;/* чтобы отступы м.б.задать */
	vertical-align: top; /* когда задаю inline-block всегда в связке прописывать vertical-align: top или middle */
	padding-top: 7px;
	margin-left: 90px;
	
}

.nav__link{
	display: inline-block;/* чтобы отступы м.б.задать */
	vertical-align: top;/* когда задаю inline-block всегда в связке прописывать vertical-align: top или middle */
	padding: 5px;
	font-family: helvetica-neue-bold;
	text-decoration:none;
	color: #424242;
	transition: 0.3s;/* чтобы при наведении на ссылку медленно сменялся цвет */

}

.nav__link:hover, .nav__link--active{
	color: #de2b24;

}
/* делаем декортивные точки в меню */

.nav__link:after{
	content:'';
	display: inline-block;
	vertical-align: middle;
	width: 5px;
	height: 5px;
	border-radius:50%;
	background: #424242;
	margin-left: 15px; 

}
/* у последнего элемента меню удалю декорат-ую точку */
.nav__link:last-child:after{
	display: none;

}

	/* section hero START */

.hero{
	min-height: 590px;/* высота всего блока*/
	padding-top: 174px;/* высота от верха до первой надписи*/
	text-align:center;
	color: white;
	background:#ccc url(../images/hero-bg.jpg) center/cover no-repeat;
}

.hero__about{
	font-family: helvetica-neue-bold;
	font-size:3rem;
	line-heigt:1;
}

.hero__title{
	margin-top: 0; /*normalize дает тегу H1 внешние отступы. мы их убираем*/
	margin-bottom: 27px; /*normalize дает тегу H1 внешние отступы. мы их корректируем*/
	font-family: helvetica-neue-light;
}

.button-yellow--up{
	padding:24px 40px;
	border-radius: 8px;
	font-size:1.5rem;
	font-weight:bold;
	letter-spacing: 2px;/* расстояние м/у буквами*/

}

	/* section about START */

.about{
	padding:99px 0 105px 0;
	text-align:center;/* текст во всех длоках будет по центру*/
}

.about__list{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;flex-wrap: wrap;/*при уменьшении помогает с адаптивом */
	margin:0;
	padding:0 50px;
	
}

.about__item{
	width: 25%;/* ширина для блока */
}

.about__header{
	margin:0 0 12px 0;
	font-size:1.375rem;
	font-family: helvetica-neue-bold;
	color:#424242;

}

.about__description{
	margin-top:0;/* убираем отстуры у абзацев по умолчанию */
	font-size: 0.875rem;
	line-height: 1.5;
	color:5c5c5c;

}

.title{
	margin-bottom:65px;
	text-align: center;
}

.title__header{
	margin:0;/* убираем отстуры у абзацев по умлочанию */
	font-size: 2.25rem;
	font-family: helvetica-neue-bold;
	line-height: 1;

}

.title__text{
	font-size: 1.25rem;
	font-family: helvetica-neue-light;
}

	/* делаем декоративное нижнее подчеркивание */

.title--with-bottom-line{
	position: relative; /* родит.блоку сделали relative,чтобы дочернему дать absolut */

}

.title--with-bottom-line:after{
	position: absolute;
	left:50%;/* выровнили по центру декоративную линию по горизонт*/
	-webkit-transform: translateX(-50%);/* выровнили по центру декоративную линию по горизонт */
	        transform: translateX(-50%);/* выровнили по центру декоративную линию по горизонт */
	content: '';
    bottom: -16px;/* опустили чуть ниже декоративную линию */
    width: 47px;
    height: 5px;
    background: #424242;
}
	/* добовляем иконки */

.icon{
	margin:auto auto 23px auto;/* нижние отступы от картинки до h3 */
}

.icon-like{
background-image: url(../images/icons/like.png);
    width: 83px;
    height: 79px;
}

.icon-book{
	background-image: url(../images/icons/book.png);
    width: 83px;
    height: 79px;
}

.icon-message{
	background-image: url(../images/icons/message.png);
    width: 83px;
    height: 79px;
}